<div class="col-sm">

        <div class="card" style="width: 18rem; margin: 10px;">
                <img src=<%= imgURL + moviesData.poster_path %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= moviesData.title %></h5>
                  <p class="card-text"><%= moviesData.overview.toString() %></p>
                  <a href="#" class="btn btn-primary">See more details</a>
                </div>
              </div>
</div>